{%extends 'base.html'%}

{% block title %}Usuarios{% endblock %}

{% block content %}


<div class="row mt-3">
    <div class="col-12">
      <section class="card">
        <div class="card-header">
            <div class="">
                <h6 class="float-start">Filtros</h6>
                <a id="hide-panel" class="float-end link-dark" href="#panel-body-filter" data-bs-toggle="collapse" data-bs-target="#panel-body-filter" aria-expanded="true">
                  <i class="fas fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
          <div class="collapse show " id="panel-body-filter">
            <fieldset>
              <div class="row g-2"> 
             
                <div class="col-md-3">
                  <label for="name" class="small text-muted text-uppercase">Nombre/Razon Social</label>
                  <input type="text" id="name" name="name" class="form-control" placeholder="Nombre">
                </div>
                <div class="col-md-3">
                  <label for="mail" class="small text-muted text-uppercase">Correo</label>
                  <input type="text" id="mail" name="mail" class="form-control" placeholder="Correo">
                </div>
             
                <div class="col-md-2">
                    <label for="status" class="small text-muted text-uppercase">Rol</label>
                    <div class="input-group">
                      <select id="status" class="form-control" data-bs-hide-disabled="true" data-bs-live-search="true">
                        <option value="">Todos</option>
                        <option value="A">Administradores</option>
                        <option value="S">Staff</option>
                        
                      </select>
                    </div>
                  </div>

                <div class="col-md-2">
                  <label for="status" class="small text-muted text-uppercase">Status</label>
                  <div class="input-group">
                    <select id="status" class="form-control" data-bs-hide-disabled="true" data-bs-live-search="true">
                      <option value="">Todos</option>
                      <option value="A">Activo</option>
                      <option value="S">Suspendido</option>
                     
                    </select>
                  </div>
                </div>

                <div class="col-md-2 d-flex flex-column">
                    <label for="taxpayer_id" class="small text-muted text-uppercase">Clean</label>
                    <button type="button" class="btn btn-danger w-auto" id="clean-bt">
                      <i class="bi bi-eraser mr-2"></i> Limpiar </button>
                  </div>
                  
              </div>
            </fieldset>
          </div>
        </div>
      </section>
      

        <section class="card mt-4">

           <div class="card-header ">
            <div class =" bg-success">
                <h6 class="float-start mb-0">Empleados</h6>
                <div class="float-end">
                  <a id="refresh-users" title="Refrescar" href="#/">
                    <i class="fas fa-sync"></i>
                  </a>
                </div>
            </div>
           </div>
          
          

           <div class="card-body">


            <div class="row d-flex align-items-center mb-4 ">

              <div class="col d-flex align-items-center justify-content-start ">

                <label class=" float-start mx-2 ">Mostrar</label>
                    <div class="input-group" style="max-width: 80px;">                              
                      <select class="form-select" id="inputGroupSelect01">
                        <option selected="">10</option>
                        <option value="1">25</option>
                        <option value="2">50</option>
                        <option value="3">100</option>
                      </select>
                    </div>
                <label class="mx-2 " >Entradas </label>
              </div>

              <div class="col">          
                <button class ="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="bi bi-building-fill-add"></i> Agregar </>
              </div>
              

              
            </div><!--end class row-->
            

             <table class="table table-striped table-bordered nowrap" id="users">
               <thead>
                 <tr>
                   <th>RFC</th>
                   <th>CURP</th>
                   <th>Nombre/Raz&oacute;n social</th>
                 
                   <th>Correos Electr&oacute;nico</th>
                   <th>Departamento</th>
                   <th>Puesto</th>
                   <th>Estatus</th>
                   <th>Opciones </th>
                 </tr>
               </thead>
             </table>



             <!--modal start ------------------------------------------------------------------------------------------------------------------------------------------> 

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                   <div class="container-fluid">

                         <form class="row g-2 needs-validation" novalidate>

                             
                           
                             <div class="col-md-5 ">
                              <label for="validationCustomUsername" class="form-label">Usuario</label>
                               <div class="input-group has-validation">
                                 <span class="input-group-text" id="inputGroupPrepend"> </span>
                                 <input type="text" class="form-control" id="rfc_id" aria-describedby="inputGroupPrepend" placeholder="e-mail" required>
                                 <div class="invalid-feedback">
                                   This field is required.
                                 </div>
                               </div>
                             </div>


                             <div class="col-md-6 ">
                              <label for="taxpayer_id" class="small text-muted  ">Tipo</label>
                              <div class="input-group mb-3">
                                
                                <label class="input-group-text" for="inputGroupSelect01" required>Type_user</label>
                                <select class="form-select" id="inputGroupSelect01" >
                                  <option selected>None</option>
                                  <option value="1">Staff</option>
                                  <option value="2">Administrador</option>
                                </select>
                              </div>
                              <div class="invalid-feedback">
                                This field is required.
                              </div>
                            </div>

                            <div class="col-m-5 ">
                              <label for="validationCustomUsername" class="form-label">Nombre</label>
                               <div class="input-group has-validation">
                                 <span class="input-group-text" id="inputGroupPrepend"> </span>
                                 <input type="text" class="form-control" id="rfc_id" aria-describedby="inputGroupPrepend" placeholder="Razon Social" required>
                                 <div class="invalid-feedback">
                                   This field is required.
                                 </div>
                               </div>
                            </div>



                            <div class="col-m-5">
                              <label for="taxpayer_id" class="small text-muted  ">Negocios</label>
                              <div class="input-group mb-3">
                                
                                <label class="input-group-text" for="inputGroupSelect01" required>Negocios</label>
                                <select class="form-select" id="inputGroupSelect01" >
                                  <option value="1"> <input type="text" class="form-control" id="rfc_id" aria-describedby="inputGroupPrepend" placeholder="selecciona tu negocio" ></option>
                                  <option value=""> <input type="text" class="form-control" id="rfc_id" aria-describedby="inputGroupPrepend" placeholder="selecciona tu negocio" ></option>
                                  
                                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button class ="position-relative py-1 px-4 btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Select All </>
                                    <button class ="position-relative py-1 px-4 btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Clear All </>
                                  </div>
                                
                                </select>
                              </div>
                              <div class="invalid-feedback">
                                This field is required.
                              </div>
                            </div>

                             
                              


                             <div class="modal-footer mt-4">
                               <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                               <button type="submit" class="btn btn-primary"><i class="bi bi-building-fill-add"></i> Agregar</button>
                             </div>

                           </form>
                   </div><!--container-->

                  
                </div>
              </div>
             </div>

          <!----------------------  modal form end ---------------------------------------------------------------------------------------------------------------------------------------------------------->






           </div>

        </section>
    </div>
</div>

<script>
    document.getElementById("clean-bt").addEventListener("click", function() {
      // Obtener todos los input y select del formulario
      const inputs = document.querySelectorAll("#panel-body-filter input, #panel-body-filter select");

      // Limpiar cada input y select
      inputs.forEach(function(input) {
        input.value = "";
      });

      // Reestablecer el select a la opción "Todos"
      document.getElementById("status").value = "";
    });

    //HANDLED INPUT validation
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()



  </script>

{% endblock %}