

{%extends '../base.html'%}


{% block title_main %}¡Bienvenido (a)! <b>{{ user.account.first_name }}</b> al Portal de Nómina{% endblock %}


{% block content %}

<script src="{% static 'nomina_app/js/dashboard/upload.js' %}"></script> 


<div class="row">

    <!-- Area Chart -->
    <div class="w-100 mt-4  ">
        <div class="card shadow mb-4 ">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"> <i class="mr-1 fas fa-history"></i>
                    Uploads history</h6>
                
            </div>
 

<!-- Card Body -->
<form class="card-body ">

    
    <div class="d-flex chart-area border border-black align-items-center text-center rounded">

        <div class="container" id="uploaded-file">
            <h1>Upload files</h1>
            <div class="upload-container" >

                        
                <div class="border-container ">
                    <div class="icons fa-4x">
                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Input file -->
    <input type="file" id="file-upload" style="display: none;" onchange="handleFileUpload(this)">

    <!-- Button to trigger file input               type="submit"-->
    <a class="btn btn-primary mt-2" href="#" role="button" onclick="document.getElementById('file-upload').click()">
        <i class="bi bi-folder-symlink-fill"></i> Upload files
    </a>

    <button class="btn btn-success mt-2 mx-2" id="sender" type="submit" > Send File</button>

</form>



        </div>
    </div>
   
   

  
</div> 


{% endblock %}