{%extends '../base.html'%}



{% block content %}


<div class="row">

    <!-- Pending Requests Card Example -->
    <div class="mb-4 w-100 h-25">
        <div class="card border-left-warning shadow p-2 h-100  ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Filtrado:   </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">

    
    <!-- Area Chart -->
    <div class="w-100">
        <div class="card shadow mb-4 ">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"> <i class="mr-1 fas fa-history"></i>
                    Uploads history</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
          
             <div class="card-body">
                <div class="chart-area">
                    <table class="table table-dark table-striped">
                        <thead>
                      <tr>
                        <th scope="col">Task ID</th>
                        <th scope="col">User</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Start Period</th>
                        <th scope="col">Start Period</th>
                        <th scope="col">End Period</th>
                        <th scope="col">Upload Date</th>
                        <th scope="col">Ttl txt Files</th>
                        <th scope="col">Start Period</th>
                        <th scope="col">Ttl success txt</th>
                        <th scope="col">Status</th>
                        <th scope="col">Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  
                    </table>
                </div>
            </div>
        </div>
    </div>

  
</div> 


{% endblock %}
