{%extends '../base.html'%}



{% block content %}


<div class="row">

    <!-- Pending Requests Card Example -->
    <div class="mb-4 w-100 h-25">
        <div class="card border-left-warning shadow p-2 h-100  ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            comprobantes</div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <!-- Pending Requests Card Example -->
    <div class="mb-4 w-100 h-25">
        <div class="card border-left-warning shadow p-2 h-100  ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Inicio</div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <!-- Pending Requests Card Example -->
    <div class="mb-4 w-100 h-25">
        <div class="card border-left-warning shadow p-2 h-100  ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Inicio</div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}