{% if request.user.is_superuser %}
	<button title="Ingresar como" class="btn btn-success btn-sm into" mail="{{ mail }}" user-id="{{ user_id }}"><i class="fa fa-user-secret" aria-hidden="true"></i></button>
{% endif %}

{% if status %}
  <button title="Suspender users" class="btn btn-danger btn-sm sus_user" mail="{{ mail }}" user-id="{{ user_id }}">
   	<i class="fa fa-times" aria-hidden="true"></i>
  </button>
{% else %}
  <button title="Activar users" class="btn btn-success btn-sm sus_user" mail="{{ mail }}" user-id="{{ user_id }}"><i class="fa fa-check" aria-hidden="true">		
	</i>
  </button>
{% endif %}

<button title="Editar usuario" class="btn btn-primary btn-sm edit" mail="{{ mail }}" user-id="{{ user_id }}" data-toggle="modal"
data-target="#modal-edit-user">
	<i class="fa fa-pencil" aria-hidden="true"></i>
</button>