<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ValidadorMX ">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="ValidadorMX">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <title>Reseteo de contraseña</title>
    <!-- Bootstrap CSS -->    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/jquery.toast.css' %}" rel="stylesheet" />
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'css/component.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.toast.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="login-img3-body">
    <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
    </div>
    <div class="container">
      <form id="login_form" class="login-form" autocomplete="off">
      {% csrf_token %}
      <header class="panel-heading text-center panel-relative">
        FORMULARIO | CAMBIO DE CONTRAEÑA
      </header>
      {% for obj in list_result %}
        <input type="text" id="valid" name="test" value="{{ obj.id }}" disabled style='display: none;'>
      {% endfor %}
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
            <span class="input-group-addon"></span>
              <input type="text" name="message" id="message" class="form-control" disabled style='color: #C00;'>
            </div>
            <div class="input-group" id="pass">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input type="password" name="password" id="password" class="form-control" placeholder="Ingresa Nueva Contrase&ntilde;a" required>
            </div>
            <div class="input-group" id="pass_confirmation">
              <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
              <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Confirma nueva contrase&ntilde;a" required>
            </div>
            <!--<a class="btn btn-primary btn-lg btn-block" id="btn_registrar" title="Descargar XML">Guardar Cambios</a>-->
            <button class="btn btn-primary btn-lg btn-block" id="btn_registrar" type="submit">Guardar Cambios</button>
        </div>
      </form>

    </div>
    <script src="{% static 'js/TweenLite.min.js' %}"></script>
        <script src="{% static 'js/EasePack.min.js' %}"></script>
        <script src="{% static 'js/demo-1.js' %}"></script>
  </body>
  <script type="text/javascript">
  var token = '{{ csrf_token }}';

$(document).ready(function() {

    document.getElementById('btn_registrar').style.display = 'none';
    var mensaje=document.getElementById("message");

    $('#password').keyup(function(e) {
        e.preventDefault();
        var password=document.getElementById("password").value;

        if (password=='') {
          mensaje.value="El campo de Contraseña es requerido.";
        }
        else {
          mensaje.value="";
        }
    });

    $('#password_confirmation').keyup(function(e) {
        e.preventDefault();
        var password=document.getElementById("password").value;
        var password_confirmation=document.getElementById("password_confirmation").value;

        if (password_confirmation=='') {
          mensaje.value="El campo de Contraseña es requerido.";
        }
        else if (password_confirmation!=password){
          mensaje.value="Las contraseñas no corresponden"
        }
        else {
          mensaje.value="";
          document.getElementById('btn_registrar').style.display =  null;
        }
    });

    $('#btn_registrar').on('click', function(e) {
        e.preventDefault();
        var password=document.getElementById("password").value;
        var password_confirmation=document.getElementById("password_confirmation").value;
        var id=document.getElementById("valid").value;
        var data = new FormData()
        data.append('password', password);
        data.append('password_confirmation', password_confirmation);
        data.append('csrfmiddlewaretoken', token);
        base_path= '/usuarios/password_reset/'
        path = base_path.concat(id,'/');

        $.ajax({
            type: 'POST',
            url: path,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            dataType: 'json',
        }).done(function(json) {
            
            if(json.success){
              $.toast({
                    heading: 'Success',
                    text: 'Contraseña Modificada',
                    showHideTransition: 'slide',
                    icon: 'success',
                    position: 'top-right',
                })
              setTimeout('document.location.replace("/")',5000);
            }
            else{
              $.toast({
                    heading: 'Error',
                    text: json.message,
                    showHideTransition: 'slide',
                    icon: 'error',
                    position: 'top-right',
                })
            }

        })
    });

bootstrap_alert = function () {}
bootstrap_alert.warning = function (message, alert, timeout) {
    $('<div id="floating_alert" class="alert alert-' + alert + ' fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' + message + '&nbsp;&nbsp;</div>').appendTo('body');


    setTimeout(function () {
        $(".alert").alert('close');
    }, timeout);

}



 });
  </script>
</html>